
.section
{
    .greetings

    {
        margin-top: 40px;
    }
    .panel-section
    {
      .subscription-details
      {

        margin-bottom: 10px;
        
      }
      h4
      {
   
        font-family: "OpenSans", sans-serif;
        font-size: .925em;
        font-weight: 400;
        color: #1A2C3F;
        line-height: 1;
      }
      p
      {
     
        font-size: 0.813em;
        font-weight: 400;
        color: #596B81;
        line-height: 1;
      }

    }

}