<div class="section">
  <div class="row">

    <div class="col-md-12">

      <img src="../assets/logo.png" />

    </div>

    <div class="col-md-12">
      <div class="greetings">


      </div>


    </div>
  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="panel-section">

        <div class="card common-card">
          <ul>
            <!-- <li *ngFor="let mySubscrriptionDetails of mySubscrriptionDetails$"> -->
                <li>
              <div class="card-header common-panel-head">
                <!-- <div class="row">
                         <div class="col-md-2">
    
    
                         </div>
                         <div class="col-md-10">
                           <h4>SUBSCRIPTION </h4>
    
                           <h3>My Subscriptions</h3>
    
                          
                         </div>
    
    
                       </div> -->


                <div class="head-score">

                  <i class="fas fa-align-justify l-icon"></i>
                </div>




                <div class="head-overview">
                  <p class="short-head">ADD MORE SERVICE</p>
                  <p class="head"> {{productName}}</p>
                </div>


              </div>
              <div class="card-body common-panel-body">
                <div class="subscription-details">

                  <form>

                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <h4 class="fs-9"> Created</h4>
                        <p class="fs-9">
                           {{mySubscrriptionDetails$.created*1000 | date:'dd/MM/yyyy'}}
                        </p>

                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <h4 class="fs-9"> Activated</h4>
                        <p class="fs-9">{{mySubscrriptionDetails$.current_period_start*1000 | date:'dd/MM/yyyy'}} </p>

                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <h4 class="fs-9"> Recharge</h4>
                        <p class="fs-9"> {{mySubscrriptionDetails$.items.data[0].plan.nickname}} </p>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <h4 class="fs-9"> Next Recharge</h4>
                        <p class="fs-9"> {{mySubscrriptionDetails$.current_period_end*1000 | date:'dd/MM/yyyy'}} </p>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <h4 class="fs-9"> Expires</h4>
                        <p class="fs-9"> {{mySubscrriptionDetails$.current_period_end*1000 | date:'dd/MM/yyyy'}}
                        </p>

                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12">
                        <h4 class="fs-9"> Auto Renewal</h4>
                        <p class="fs-9" *ngIf="mySubscrriptionDetails$.billing !='charge_automatically'"> Auto Renewal Off  </p>
                        <p class="fs-9" *ngIf="mySubscrriptionDetails$.billing =='charge_automatically'"> Auto Renewal On  </p>

                      </div>



                    </div>

                    
                  </form>


                </div>

              </div>
            </li>
          </ul>
        </div>

      </div>



    </div>
  </div>


</div>
<!--seection-->