<div class="section">
  <div class="row">

    <div class="col-md-12">

      <img src="../assets/logo.png" />

    </div>

    <div class="col-md-12">
      <div class="greetings">
        <p>Welcome to Mary's care dashboard</p>

      </div>


    </div>
  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="panel-section">

        <div class="card common-card">
          <div class="card-header common-panel-head">
            <!-- <div class="row">
                         <div class="col-md-2">
    
    
                         </div>
                         <div class="col-md-10">
                           <h4>SUBSCRIPTION </h4>
    
                           <h3>My Subscriptions</h3>
    
                          
                         </div>
    
    
                       </div> -->


            <div class="head-score">

              <i class="fas fa-align-justify l-icon"></i>
            </div>
            <div class="head-overview">
              <p class="short-head">ADD MORE SERVICE</p>
              <p class="head"> Remort Monitoring Services</p>


            </div>

          </div>
          <div class="card-body common-panel-body">
            <div class="subscription-details">

                <form>

                  <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <h4 class="fs-9"> Created</h4>
                      <p class="fs-9"> 11/10/2017 </p>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <h4 class="fs-9"> Activated</h4>
                      <p class="fs-9"> 11/10/2017 </p>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <h4 class="fs-9"> Recharge</h4>
                      <p class="fs-9"> Everey One Month </p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <h4 class="fs-9"> Next Recharge</h4>
                      <p class="fs-9"> 25/12/2018 </p>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <h4 class="fs-9"> Expires</h4>
                      <p class="fs-9"> 11/10/2019 </p>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <h4 class="fs-9"> Auto Renew</h4>
                      <p class="fs-9"> Auto Renew No </p>

                    </div>


                  </div>

                </form>

        
            </div>

          </div>
        </div>

      </div>



    </div>
  </div>


</div>
<!--seection-->