
.section
{
    .greetings

    {
        margin-top: 40px;
    }
    .panel-section
    {
      .subscription-details
      {

        margin-bottom: 10px;


      .description
      {
        border: 1px solid #dad8d8;
        padding: 1%;
        border-radius: 5px;
        background: #f3f3f3;
        p
        {
          line-height: 20px;
        }
      }

        
      }
      h4
      {
   
        font-family: "OpenSans", sans-serif;
        font-size: .925em;
        font-weight: 400;
        color: #1A2C3F;
        line-height: 1;
      }
      p
      {
     
        font-size: 0.813em;
        font-weight: 400;
        color: #596B81;
        line-height: 1;
      }

    }

}