<footer>

  <ul class="footerlist">
    <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><li _ngcontent-c3="">
      <a _ngcontent-c3="" ng-reflect-router-link="./ui" href="/en/ui">Privacy</a>
    </li><li _ngcontent-c3="">
      <a _ngcontent-c3="" ng-reflect-router-link="./ui" href="/en/ui">Terms of use</a>
    </li><li _ngcontent-c3="">
      <a _ngcontent-c3="" ng-reflect-router-link="./ui" href="/en/ui">Sitemap</a>
    </li><li _ngcontent-c3="">
      <a _ngcontent-c3="" ng-reflect-router-link="./ui" href="/en/ui">Frequently asked questions</a>
    </li><li _ngcontent-c3="">
      <a _ngcontent-c3="" ng-reflect-router-link="./ui" href="/en/ui">Jobs</a>
    </li><li _ngcontent-c3="">
      <a _ngcontent-c3="" ng-reflect-router-link="./ui" href="/en/ui">Accessibility</a>
    </li>
  </ul>
  <p class="footer-text">
    © 2017 Bayshore HealthCare. All rights reserved.
    <br _ngcontent-c3="">
    ™Trademarks appearing are owned by Polar Valley Investments Ltd. and used herein under license. Bayshore's community-based health care services aare governed by ISO 9001 quality standards. Bayshore is committed to ensuring the confidentiality and protection of personal information.
  </p>

</footer>