<div class="section">
  <div class="row">

    <div class="col-md-12">

      <img src="../assets/logo.png" />

    </div>

    <div class="col-md-12">
      <div class="greetings">
        <p>Welcome to Mary's care dashboard</p>

      </div>


    </div>
  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="panel-section">

        <div class="card common-card">
          <div class="card-header common-panel-head">
            <!-- <div class="row">
                       <div class="col-md-2">
  
  
                       </div>
                       <div class="col-md-10">
                         <h4>SUBSCRIPTION </h4>
  
                         <h3>My Subscriptions</h3>
  
                        
                       </div>
  
  
                     </div> -->


            <div class="head-score">

              <i class="fas fa-align-justify l-icon"></i>
            </div>
            <div class="head-overview">
              <p class="short-head">SUBSCRIPTION </p>
              <p class="head"> My Subscriptions</p>


            </div>

          </div>
          <div class="card-body common-panel-body">
            <div class="subscription-upgrade">

              <div class="row">
                <div class="col-md-12">

                  <label>Upgrade to</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <!-- <form> -->
                  
                    <div class="subscription" *ngFor="let upgradeSubscription of upgradeSubscriptions;let i = index">
                        <div *ngFor="let item of createRange(upgradeSubscription.planFamilyRelationship.length)$">
                      <div class="form-group row mrg-btm-0">
                        <!-- <div class="col-sm-1">
                          <div class="form-check-inline eql-padding">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">
                            </label>
                          </div>

                        </div> -->

                        <div class="col-md-2">
                          <h3>{{ upgradeSubscription.name }}</h3>
                          <p> {{ upgradeSubscription.code }} </p>
                        </div>

                        <div class="col-md-2">
                          <h3>{{upgradeSubscription.planFamilyRelationship[item-1].relationshipMigrationType}} </h3>
                          <p>Type </p>
                        </div>

                        <div class="col-md-2">

                          <h3>{{ upgradeSubscription.plans[i].planName }}</h3>
                          <p> Plan</p>
                        </div>
                        <div class="col-md-2">

                          <h3>{{upgradeSubscription.planFamilyRelationship[item-1].destinationPlanFrequency.interval}}</h3>
                          
                          <p> Frequency</p>
                        </div>
                        <a (click)="migratePlan({{upgradeSubscription.planFamilyRelationship[item-1].id$}})" class="btn-upgrade btn btn-info btm-mt" style="float: right;"> Upgrade </a>
                      </div>
                    </div>
                  </div>


                  <!-- </form> -->
                </div>
              </div>






              <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
<!-- 
                  <a href="payment.html" class="btn-upgrade btn btn-info btm-mt" style="float: right;"> Upgrade </a> -->

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>



    </div>
  </div>


</div>
<!--seection-->