<!-- <h1>Users</h1>
<div>
  <a routerLink="/createUser">Create a new user</a>
</div>
<ul>
  <li *ngFor="let user of users$">
    <a routerLink="/details/{{user.id}}">{{ user.task }}</a>

    <ul>
      <li> {{ user.status }}</li>
      <li>{{ user.created_at }}</li>
    </ul>
  </li>
</ul> -->
<div class="section">
  <div class="row">

    <div class="col-md-12">

      <img src="../assets/logo.png" />

    </div>

    <div class="col-md-12">
      <div class="greetings">
        <p>Welcome to {{userName}}</p>

      </div>


    </div>
  </div>

  <div class="row">

    <div class="col-md-12">

      <div class="dash-contain-profile">
        <div class="row">
          <div class="col-lg-2 col-md-4  col-sm-12 col-xs-12">

            <div class="client-photo">

              <img src="../assets/pro-img.png" />
            </div>


          </div>
          <div class="col-lg-3 col-md-4  col-sm-12 col-xs-12">
            <div class="section-block">  

            <h2 class="client-name">Mary Darling</h2>
            <p class="client-diagnosis"> Diagnosed with: Dementia, Arthritis </p>

            <p class="clint-bio">Devoted Mother, Beatles fan, married to husband George for 35 years, loves reading
              outside with the family dog Nanna </p>
          </div>
        </div>
          <div class="col-lg-2 col-md-4  col-sm-12 col-xs-12">
              <div class="section-block">  
            <div class="services-container">
              <div class="service-title">
                MARY'S SERVICES
              </div>
              <ul>
                <li>
                  <img src="../assets/nurse.png"/> Nursing
                </li>
                <li> <img src="../assets/Companionship.png"/>Companionship</li>
                <li>   <img src="../assets/housekeeping.png"/> Nursing Housekeeping</li>

              </ul>
            </div>
            </div>

          </div>
          <div class="col-lg-2 col-md-4  col-sm-12 col-xs-12">
              <div class="section-block">  
            <div class="services-container">
              <div class="service-title">
                BAYSHORE ALSO OFFERS
              </div>

              <ul>
                <li>    <img src="../assets/care.png"/>Personal Care</li>
                <li>    <img src="../assets/virtual.png"/>Virtual Check-in</li>
              </ul>


            </div>
</div>
          </div>
          <div class=" col-lg-2 col-md-4  col-sm-12 col-xs-12">
              <div class="section-block">  
            <div class="services-container">
              <div class="service-title">
                BAYSHORE SERVICE
              </div>


              <ul>
                <a routerLink="mysubscription">   <li class="list1"> <i class="fas fa-user-tag  f-24 p-r-18"></i>My Subscriptions</li></a>
                <a routerLink="addservice"> <li class="list1"> <i class="fa fa-plus f-24 p-r-18"></i> Add Service</li></a>
                <a routerLink="managecards"> <li class="list1"> <i class="fa fa-university f-24 p-r-18" aria-hidden="true"></i> Manage Cards</li></a>
             </ul>
            
            
              </div>

</div>

          </div>


        </div>


      </div>



    </div>
  </div>



  <div class="row">
<div class="col-md-12">

  <img src="../assets/bayshore-image.png" class="img-responsive" style="width:100%;">
</div>

  </div>


  <div class="row">
    <div class="col-md-12">
    
      <img src="../assets/bayshore-image2.png" class="img-responsive" style="width:100%;">
    </div>
    
      </div>






</div>
<!--section-->