<div class="section">
  <div class="row">

    <div class="col-md-12">

      <img src="../assets/logo.png" />

    </div>
 
    <div class="col-md-12">
      <div class="greetings">
        <!-- <p>Welcome to Mary's care dashboard</p> -->

      </div>


    </div>
  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="panel-section">

        <div class="card common-card">
          <div class="card-header common-panel-head">
            <div class="head-score">

              <i class="fas fa-align-justify l-icon"></i>
            </div>
            <div class="head-overview">
              <p class="short-head">SUBSCRIPTION </p>
              <p class="head"> My Cart</p>


            </div>

          </div>
          <div class="card-body common-panel-body">
            <div class="panel-features">

              <div class="row">
                <div class="col-md-12">

                  <table class="table">
                    <thead>
                      <tr>
                        <th class="one">
                          Product
                        </th>
                        <th>
                          Price CAD
                        </th>
                        <th>
                          Frequency
                        </th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let cartItem of cartItems;let i = index">

                        <td>{{cartItem.nickname}}</td>
                        <td>{{cartItem.amount}}</td>
                        <!-- <div *ngFor="let plan of cartItem.planFrequencies">
                          <div *ngIf="cartItem.selectedFreId == plan.id">
                            <td>{{plan.interval}}</td>
                          </div> -->
                          <td>{{cartItem.interval}}</td>
                        <!-- </div> -->
                        <td><button class="btn btn-danger btn-cancel btm-mt" (click)="remove(cartItem)" type="button">Remove</button></td>
                      </tr>

                      <tr class="total">

                        <td>Total</td>
                        <td colspan="3">${{grandTotal}}</td>
                      </tr>

                    </tbody>


                  </table>

                  <div class="row">
                    <div class="col-md-12">

                        <div  *ngIf="cardStatus == 'true' ">
                      
                      <div *ngIf="grandTotal!=0;then content"></div>   
                      <ng-template #content>  
                          <a routerLink="/addservice/carddetails/cart_plan"> 
                       <button class="up-link btn btn-success float-right btm-mt">Checkout true</button>
                      </a>
                      </ng-template>

                      <a routerLink="addservice" class="up-link btn btn-success float-right btm-mt">Continue Shopping</a>

                    </div>
                    <div  *ngIf="cardStatus == 'false' ">
                      
                        <div *ngIf="grandTotal!=0;then content"></div>   
                        <ng-template #content> 
                            <a routerLink="/addservice/carddetails/cart_plan"> 
                         <button class="up-link btn btn-success float-right btm-mt">Checkout false</button>
                        </a>
                        </ng-template>
  
                        <a routerLink="addservice" class="up-link btn btn-success float-right btm-mt">Continue Shopping</a>
  
                      </div>
                      </div>

                    </div>


                  </div>



                </div>




              </div>



            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
