
.section
{
    .greetings

    {
        margin-top: 40px;
    }
    .panel-section
    {
    .panel-features
    {
        table
        {
            thead
            {
                tr
                {
                    th
                    {
                        font-weight: 600 !important;
                        color: #596B81;
                    }
                }
            }
            tbody
            {
                tr
                {
                    border: transparent !important;
                    td
                    {
                        border: none;
                    }
                }
            }
        }

        .t-amount
        {
            font-weight: 600 !important;
            color: #596B81;
        }
    }

    }

}