<div class="section">
  <div class="row">

    <div class="col-md-12">

      <img src="../assets/logo.png" />

    </div>

    <div class="col-md-12">
      <div class="greetings">


      </div>


    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <div class="success">



        <i class="fas fa-check checkicon"></i>
        <p>
          Your service has been subscribed successfully...!
        </p>

        <div>
            <a [routerLink]="['/home']" >
              Click Here to go back
            </a>
        </div>
      </div>
      

    </div>


  </div>
</div>