
.section
{
    .greetings

    {
        margin-top: 40px;
    }
    .panel-section
    {
    .addservice
    {

        font-family: "OpenSans", sans-serif;
        color: #596b81;
        .sercice-sec
        {

            .addonrow
            {
                font-size: 13px;
            }
            .servicename
            {
                font-size: 1.125em !important;
                /* font-weight: bold; */
              
                font-size: 0.813em;
                font-weight: 400;
                color: #596B81;
                line-height: 1.4;
                letter-spacing: normal;
                margin-bottom: 9px;
            }
            .addon-price
            {
                font-weight: bold;
            }
        }
    }

    }

}