<div class="section">
  <div class="row">

    <div class="col-md-12">

      <img src="../assets/logo.png" />

    </div>

    <div class="col-md-12">
      <div class="greetings">
        <p>Welcome to {{userName}} care dashboard</p>

      </div>


    </div>
  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="panel-section">

        <div class="card common-card">
          <div class="card-header common-panel-head">
            <!-- <div class="row">
                         <div class="col-md-2">
    
    
                         </div>
                         <div class="col-md-10">
                           <h4>SUBSCRIPTION </h4>
    
                           <h3>My Subscriptions</h3>
    
                          
                         </div>
    
    
                       </div> -->


            <div class="head-score">

              <i class="fas fa-align-justify l-icon"></i>
            </div>
            <div class="head-overview">
              <p class="short-head">SUBSCRIPTION </p>
              <p class="head"> My Subscriptions</p>


            </div>

          </div>
          <div class="card-body common-panel-body">
            <div class="addservice">


              <form>
                <div class="sercice-sec">
                  <div class="row">
                    <div class="col-md-12">

                      <!-- Button to Open the Modal -->

                      <!-- The Modal -->
                      <div class="modal" id="myModal" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                          <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title servicename">Caring for Seniors at Home</h4>

                              <a href="#" data-dismiss="modal" style="font-size: 19px;
        color: #fd7373;">x </a>


                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                              Bayshore Home Health is all about trust. We provide personalized home care services to
                              meet your needs. We make home care simple your dedicated Care Manager works with you to
                              design a customized care plan to provide the support you need at home.
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <!--  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                            </div>

                          </div>
                        </div>
                      </div>


                      <div class="form-check-inline f-18 mrg-btm-1">
                        <label class="form-check-label servicename">
                          <input type="checkbox" class="form-check-input" value="">Caring for Seniors at Home
                          <!--   <span class="price-bg">$100 </span> -->
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-md-3 col-sm-3 col-xs col-form-label common-size">Select Plan</label>
                    <div class="col-md-3 col-sm-3">
                      <select id="inputState" class="form-control ">
                        <option selected="">Choose...</option>
                        <option>Yearly</option>
                        <option>Monthly</option>
                        <option>Trial</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row addonrow">
                    <div class="col-md-3 col-sm-3">
                      <label class="f-1em">
                        <input type="checkbox" class="f" value="" style="margin-right: 7px;"><span class="min-w">Addon
                          Service1</span>
                      </label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price">($10) </span>
                    </div>
                  </div>






                  <div class="form-group row addonrow">
                    <div class="col-md-3 col-sm-3">
                      <label class="f-1em">
                        <input type="checkbox" class="f" value="" style="margin-right: 7px;"><span class="min-w">Addon
                          Service2</span>
                      </label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price">($10) </span>
                    </div>
                  </div>




                  <div class="form-group row addonrow">
                    <div class="col-md-3 col-sm-3">
                      <label class="f-1em disable">
                        <input type="checkbox" class="f" value="" checked="" style="margin-right: 7px;"><span class="min-w">Setup
                          Charge</span>
                      </label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price">($10) </span>
                    </div>
                  </div>






                  <div class="form-group row ">
                    <label for="staticEmail" class="col-md-3 col-sm-3 col-form-label common-size"> Total Price</label>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price"> $200</span>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <a href="remort_monitoring_services.html" data-target="#myModal" data-toggle="modal" class="viewdetails float-right link">View
                        Deatils</a>
                    </div>




                  </div>
                </div>


                <div class="sercice-sec">

                  <!-- The Modal -->
                  <div class="modal" id="myModal2">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                     


                        <div class="modal-header">
                            <h4 class="modal-title servicename">Patient Assistant Service</h4>

                            <a href="#" data-dismiss="modal" style="font-size: 19px;
      color: #fd7373;">x </a>


                          </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          If you have been diagnosed with a complex medical condition like cancer or an autoimmune
                          disease, your healthcare can become overwhelming. We partner with healthcare professionals
                          and pharmaceutical manufacturers to connect patients to the support they need, when it
                          matters most.
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <!--  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">

                      <div class="form-check-inline f-18 mrg-btm-1">
                        <label class="form-check-label servicename">
                          <input type="checkbox" class="form-check-input" value="" style="margin-right: 7px;">Patient
                          Assistant Service
                          <!--  <span class="price-bg">$100 </span> -->
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-md-3 col-sm-3col-form-label common-size">Select Plan</label>
                    <div class="col-md-3 col-sm-3">
                      <select id="inputState" class="form-control ">
                        <option>Yearly</option>
                        <option>Monthly</option>
                        <option>Trial</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row addonrow" >
                    <div class="col-md-3 col-sm-3">
                      <label class="f-1em">
                        <input type="checkbox" class="f" value="" style="margin-right: 7px;"><span class="min-w">Addon
                          Service1</span>
                      </label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price">($10) </span>
                    </div>
                  </div>






                  <div class="form-group row addonrow">
                    <div class="col-md-3 col-sm-3">
                      <label class="f-1em">
                        <input type="checkbox" class="f" value="" style="margin-right: 7px;"><span class="min-w">Addon
                          Service2</span>
                      </label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price">($10) </span>
                    </div>
                  </div>




                  <div class="form-group row addonrow">
                    <div class="col-md-3 col-sm-3">
                      <label class="f-1em disable">
                        <input type="checkbox" class="f" value="" checked="" style="margin-right: 7px;"><span class="min-w">Setup
                          Charge</span>
                      </label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price">($10) </span>
                    </div>
                  </div>






                  <div class="form-group row ">
                    <label for="staticEmail" class="col-md-3 col-sm-3 col-form-label common-size"> Total Price</label>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price"> $200</span>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-md-3 col-sm-3 col-form-label  common-size">Price</label>
                    <div class="col-md-3 col-sm-3">
                      <!--    <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price"> $200</span>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <a href="patient_assistant_service.html" class="viewdetails link float-right" data-target="#myModal2" data-toggle="modal">View
                        Deatils</a>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">



                    <a href="payment.html" class="btn-upgrade btn btn-info btm-mt float-right">Subscribe</a>

                  </div>
                </div>

              </form>


            </div>

          </div>
        </div>

      </div>



    </div>
  </div>


</div>
<!--seection-->