<div class="section">
  <div class="row">

    <div class="col-md-12">

      <img src="../assets/logo.png" />

    </div>

    <div class="col-md-12">
      <div class="greetings">
        <p>Welcome to Mary's care dashboard</p>

      </div>


    </div>
  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="panel-section">

        <div class="card common-card">
          <div class="card-header common-panel-head">
            <!-- <div class="row">
                         <div class="col-md-2">
    
    
                         </div>
                         <div class="col-md-10">
                           <h4>SUBSCRIPTION </h4>
    
                           <h3>My Subscriptions</h3>
    
                          
                         </div>
    
    
                       </div> -->


            <div class="head-score">

              <i class="fas fa-align-justify l-icon"></i>
            </div>
            <div class="head-overview">
              <p class="short-head">SUBSCRIPTION </p>
              <p class="head"> My Subscriptions</p>


            </div>

          </div>
          <div class="card-body common-panel-body">
            <div class="addservice">


              <form>

                  <div *ngFor="let service of servicesList$">

                     
                <div class="sercice-sec">
                  <div class="row">
                    <div class="col-md-12">

                      <!-- Button to Open the Modal -->

                      <!-- The Modal -->
                     
                      <div class="modal" id="remotemonitoringserviceplan" aria-hidden="true" >
                        <div class="modal-dialog">
                          <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title servicename">{{service.name}} </h4>

                              <a href="#" data-dismiss="modal" style="font-size: 19px;
        color: #fd7373;">x </a>


                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                {{service.description}}
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <!--  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
                            </div>

                          </div>
                        </div>
                      </div>

                      

                      <div class="form-check-inline f-18 mrg-btm-1">
                        <label class="form-check-label servicename">
                          <input type="checkbox" class="form-check-input" value="">{{service.name}} {{service.code}}
                          <!--   <span class="price-bg">$100 </span> -->
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-md-3 col-sm-3 col-xs col-form-label common-size">Select Plan</label>
                    <div class="col-md-3 col-sm-3">
                      <select id="inputState" class="form-control ">
                        <option selected="">Choose...</option>
                        <option>Yearly</option>
                        <option>Monthly</option>
                        <option>Trial</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row addonrow">
                    <div class="col-md-3 col-sm-3">
                      <label class="f-1em">
                        <input type="checkbox" class="f" value="" style="margin-right: 7px;"><span class="min-w">Addon
                          Service1</span>
                      </label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price">($10) </span>
                    </div>
                  </div>






                  <div class="form-group row addonrow">
                    <div class="col-md-3 col-sm-3">
                      <label class="f-1em">
                        <input type="checkbox" class="f" value="" style="margin-right: 7px;"><span class="min-w">Addon
                          Service2</span>
                      </label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price">($10) </span>
                    </div>
                  </div>




                  <div class="form-group row addonrow">
                    <div class="col-md-3 col-sm-3">
                      <label class="f-1em disable">
                        <input type="checkbox" class="f" value="" checked="" style="margin-right: 7px;"><span class="min-w">Setup
                          Charge</span>
                      </label>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price">($10) </span>
                    </div>
                  </div>






                  <div class="form-group row ">
                    <label for="staticEmail" class="col-md-3 col-sm-3 col-form-label common-size"> Total Price</label>
                    <div class="col-md-3 col-sm-3">
                      <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
                      <span class="addon-price"> $200</span>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <a href="" data-toggle="modal" data-target="#remotemonitoringserviceplan"  class="viewdetails float-right link">View
                        Deatils</a>
                    </div>




                  </div>
                </div>
              </div>

                

                <div class="row">
                  <div class="col-md-6">



                    <a href="payment.html" class="btn-upgrade btn btn-info btm-mt float-right">Subscribe</a>

                  </div>
                </div>

              </form>


            </div>

          </div>
        </div>

      </div>



    </div>
  </div>


</div>
<!--seection-->
