



  <div class="sercice-sec">
    <div class="row">
      <div class="col-md-12">

        <!-- Button to Open the Modal -->

   

        

        <div class="form-check-inline f-18 mrg-btm-1">
          <label class="form-check-label servicename">
           
          <span class="price-bg">{{planDetails$.name}} </span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-md-3 col-sm-3 col-xs col-form-label common-size">Select Frequency</label>
      <div class="col-md-3 col-sm-3">
     

        <select id="inputState" class="form-control " #planfreqID>
         
          <option *ngFor="let plan of planDetails$.planFrequencies"  [value]="plan.id">{{plan.interval}}</option>
        </select>

      </div>
    </div>
    <div *ngFor="let products of planProducts$" >
    
    <div class="form-group row addonrow">
      <div class="col-md-3 col-sm-3">

         <!-- <div class="col-md-12"  *ngIf="products.productType== 'OneTimeCharge'"> -->
        <label class="f-1em">
            <span class="f" value="" style="margin-right: 22px;" ></span>
          
          <span class="min-w"> {{products.productName}} </span>
        </label>
        <!-- </div> -->


        <!-- <div class="col-md-12"  *ngIf="products.productType== 'RecurringService' && products.isIncludedByDefault == false">
            <label class="f-1em">
                <input type="checkbox" class="f" #titleInput1 value="{{products.orderToCashCycles[0].pricingModel.quantityRanges[0].prices[0].amount}}" style="margin-right: 7px;" (click)="yourfunc(titleInput1.value,$event)" >
                
              <span class="min-w"> {{products.productName}} </span>
            </label>
            </div>
            <div class="col-md-12"  *ngIf="products.productType== 'RecurringService' && products.isIncludedByDefault == true">
                <label class="f-1em">
                  <span class="f" value="" style="margin-right: 22px;" ></span>
                  
                  <span class="min-w"> {{products.productName}} </span>
                </label>
                </div> -->
      </div>
      <div class="col-md-3 col-sm-3">
        <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
        <span class="addon-price" >${{products.orderToCashCycles[0].pricingModel.quantityRanges[0].prices[0].amount}} </span>
      </div>
    </div>


</div>




    <div class="form-group row ">
      <label for="staticEmail" class="col-md-3 col-sm-3 col-form-label common-size"> Total Price</label>
      <div class="col-md-3 col-sm-3">
        <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
     
       <span class="addon-price" id="testID"> ${{grandTotal}}</span>
      </div>
    </div>
    
    <div class="form-group row">
      <div class="col-md-6">
         
        <button class="viewdetails float-right link" (click)="addtocart(planDetails$)">Add to Cart</button>

          <button class="viewdetails float-right link" (click)="subscribe(planfreqID.value)">Subscribe</button>
          
      </div>

    </div>
  </div>    
  
        

