


<div class="section">  

  <div class="row">
 
     <div class="col-md-12">
 
       <img src="../assets/logo.png" />
 
     </div>
 
    
 
   </div>
 
 <div class="row">
 
   <div class="col-md-12">
   <div class="panel-section">
 
 <div class="card common-card">
   <div class="card-header common-panel-head">
     <!-- <div class="row">
              <div class="col-md-2">
 
 
              </div>
              <div class="col-md-10">
                <h4>SUBSCRIPTION </h4>
 
                <h3>My Subscriptions</h3>
 
               
              </div>
 
 
            </div> -->
     <div class="head-score">
 
       <i class="fas fa-align-justify l-icon"></i>
     </div>
     <div class="head-overview">
       <p class="short-head">PRODUCT</p>
       <p class="head"> </p>
    
  
     </div>
     <div class="head-overview">  
         <a routerLink="/myCart">
           <!-- hiiii</a> -->
  <!-- <a href="#">   -->
     <!-- <a routerLink="mysubscription">   -->
         <p class="count"> <i class="fas fa-shopping-cart"></i> <span>  {{cartItems.length}}  </span>    </p>
       </a>
       </div>
 
 
   </div>
 
 </div>
 
   </div>
 
 
 
   </div>
 
 
 
 </div>
 
 
 
   <div class="sercice-sec">
     <div class="row">
       <div class="col-md-12">
 
         <!-- Button to Open the Modal -->
 
    
 
     
 
         <div class="form-check-inline f-18 mrg-btm-1">
           <label class="form-check-label servicename">
            
     
           </label>
         </div>
       </div>
     </div>
     <div class="form-group row">
       <div class="col-md-12">

         <p class="description"></p>
       </div>
       <label for="inputPassword" class="col-md-3 col-sm-3 col-xs col-form-label common-size">Select Frequency</label>
       <div class="col-md-3 col-sm-3">
      
 
         <select id="inputState" (change)="getAmount($event.target.value)" class="form-control " #planfreqID>
          
           <option *ngFor="let plan of planProducts$"  [value]="plan.id">{{plan.nickname}}</option>
         </select>
 
       </div>
     </div>
     <div *ngFor="let products of planProducts$;let i=index" >
        <div class="col-md-12"  *ngIf="products.id == planfreqID.value ">
     <div class="form-group row addonrow">
       <div class="col-md-3 col-sm-3">
 
          <!-- <div class="col-md-12"  *ngIf="products.productType== 'OneTimeCharge'"> -->
         <label class="f-1em">
          
           
        <span class="min-w"> Amount  </span>
         </label>
        
       </div>
       <div class="col-md-3 col-sm-3">
          <!-- <span class="addon-price" > <i class="fas fa-dollar-sign dollor-icon"></i> {{amount}} </span> -->
          
         <span class="addon-price" > <i class="fas fa-dollar-sign dollor-icon"></i> {{products.amount}} </span>
      
        </div>
     </div>
    
    <div class="form-group row ">
        <label for="staticEmail" class="col-md-3 col-sm-3 col-form-label common-size"> Total Price</label>
        <div class="col-md-3 col-sm-3">
          <!--  <input type="text" class="form-control-plaintext form-control" id="staticEmail"  placeholder=""> -->
       
         <span class="addon-price" id="testID">  <i class="fas fa-dollar-sign dollor-icon"></i>  {{products.amount}}</span>
        </div>
      </div> 

      <div class="form-group row ">
        
        <div class="col-md-12">  

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div  *ngIf="cardStatus == 'true' ">
       
                    <button class="btn btn-success btm-mt float-right" (click)="addtocart(products)">Add to Cart</button>
                    
                    <a routerLink="/addservice/carddetails/{{planfreqID.value}}"> <button class="btn btn-success  btm-mt float-right">
                     Subscribe true</button></a>
                      <!-- <button class="btn btn-success  btm-mt float-right" (click)="subscribe(planfreqID.value)">Subscribe</button> -->
                      
                  </div>
                  <div  *ngIf="cardStatus == 'false' ">
                  
                   <button class="btn btn-success btm-mt float-right" (click)="addtocart(planDetails$)">Add to Cart</button>
                   
                   <a routerLink="/addservice/addcarddetails/{{planfreqID.value}}"> <button class="btn btn-success  btm-mt float-right">
                    Subscribe false</button></a>
                     <!-- <button class="btn btn-success  btm-mt float-right" (click)="subscribe(planfreqID.value)">Subscribe</button> -->
                     
                 </div>
                <!-- <button class="btn btn-success btm-mt float-right" (click)="addtocart(products)">Add to Cart</button>
          <button class="btn btn-success  btm-mt float-right" (click)="subscribe(planfreqID.value)">Subscribe</button> -->
        
</div>
        </div>

      </div>
    </div>

    </div>
 </div>
 
    
   </div>    
   
         
 
 </div>