<div class="section">
  <div class="row">

    <div class="col-md-12">

      <img src="../assets/logo.png" />

    </div>

    <div class="col-md-12">
      <div class="greetings">
        <!-- <p>Welcome to Mary's care dashboard</p> -->

      </div>


    </div>
  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="panel-section">

        <div class="card common-card">
          <div class="card-header common-panel-head">
            <div class="head-score">

              <i class="fas fa-align-justify l-icon"></i>
            </div>
            <div class="head-overview">
              <p class="short-head">SUBSCRIPTION </p>
              <p class="head"> My Subscriptions</p>


            </div>

          </div>
          <div class="card-body common-panel-body">
            <div class="panel-features">
              <div class="row">
                <!--search-section-->
                <div class="col-md-12">
                  <form class="form-inline pull-right" style="float: right;">
                    <input class="form-control mr-sm-2" [(ngModel)]="searchText" name="dd" type="search"
                      placeholder="Search" aria-label="Search">

                  </form>
                </div>
              </div>
            </div>

            <form>

              <ul class="lists">
                <li *ngFor="let mysubscriptions of mysubscriptions$ | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p }">


                  <div class="subscription">
                    <div class="form-group row mrg-btm-0">
                      <label for="inputPassword" class="col-sm-3 col-form-label mrg-btm-0 fs-9 black">{{mysubscriptions.plan.nickname}}</label>

                      <div class="col-sm-2">
                        <div class="form-check-inline eql-padding">
                          <label class="form-check-label fs-9 black" *ngIf="mysubscriptions.plan.active== true && mysubscriptions.billing != 'send_invoice'">
                            <input ng-model="myCheckbox" type="checkbox" data-md-icheck (change)="autorenewalFunction(mysubscriptions.id,$event)"
                              checked>Auto Renewal
                            <!-- <input type="checkbox" class="form-check-input" value="" checked="" ng-model="myCheckbox"  ng-change='someFunction(myCheckbox)'">Auto Renewal -->
                          </label>
                          <label class="form-check-label fs-9 black" *ngIf="mysubscriptions.plan.active== true && mysubscriptions.billing == 'send_invoice'">
                            <input ng-model="myCheckbox" type="checkbox" data-md-icheck (change)="autorenewalFunction(mysubscriptions.id,$event)">Auto
                            Renewal
                            <!-- <input type="checkbox" class="form-check-input" value="" checked="" ng-model="myCheckbox"  ng-change='someFunction(myCheckbox)'">Auto Renewal -->
                          </label>
                        </div>

                      </div>
                      <div class="col-md-2">
                        <div class="eql-padding">
                          <span class="warning bold" *ngIf="mysubscriptions.plan.active==true">{{ mysubscriptions.status }} </span>
                          <!-- <span class="warning bold">Active</span> -->
                        </div>
                      </div>


                      <div class="col-md-2">
                        <div class="eql-padding">
                          <a [routerLink]="['viewSubscription']" [queryParams]="{subId:mysubscriptions.id}"
                            class="details link">View Details</a>
                        </div>
                      </div>

                      <div class="col-md-3">
          
                        <button type="button" class="btn btn-danger btn-cancel btm-mt" (click)="cancelSubscription(mysubscriptions.id,mysubscriptions.plan.nickname)">Cancel</button>
                        <!-- <div *ngIf="mysubscriptions.plan.active==true;then content"></div>    
                        <ng-template #content> <a [routerLink]="['upgradeSubscription']" [queryParams]="{subId: mysubscriptions.plan.id}" class="btn-upgrade btn btn-info btm-mt btn-link" > Upgrade </a></ng-template> -->
                       
                       

                      </div>
                    </div>
                  </div>






                </li>
              </ul>

              <pagination-controls (pageChange)="p = $event"></pagination-controls>


            </form>

          </div>
        </div>

      </div>



    </div>
  </div>


</div>
<!--seection-->