
.section
{
    .greetings

    {
        margin-top: 40px;
    }
    .panel-section
    {

       ul.lists
             {
                li{
                  padding: 0px !important;
                   }
              }

      .subscription
      {
        box-shadow: 1px 2px 3px #f3f2f2;
        margin-bottom: 10px;
        padding-bottom: 5px;
        a.btn-link
        {
            color: #fff !important;
            font-weight: 500 !important;
        }
        .warning
        {
            color: #ffc107;
            font-size: 0.82em;
        }
        .active
        {
            color:#12ab12;
            font-size: 0.82em;
        }
        .draft 
        {
            color: #6f6f6f;
            font-size: 0.82em;
        }
        label
        {
           
            font-size: .925em;
            font-weight: 400;
            color: #1A2C3F;
            line-height: 1;
        }

      }
    
  
    }

}

