/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
#content
{
    background: url(assets/page-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
    background-color: #EDF5F7;
}
#container {
   display: grid;
   grid-template-columns: 90px auto;
   height: 100%;

   #content {
       padding: 30px 50px;

       ul {
           list-style-type: none;
           margin:0;padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}